<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykres Liniowy</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Wilgotność gleby</h1>
    <canvas id="myChart"></canvas>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>

    <form action="/" method="POST">
        <input type="text" name="target_humidity" id="target_humidity">
        <input type="submit" value="Change target humidity">
    </form>
</body>
</html>
